#controls > .controls-section {
  display: flex;
  text-align: center;
  vertical-align: middle;
  border: thick ridge brown;
}

.string {
  display: flex;
  flex-direction: row;
}

.cell {
  border-right: thin ridge gray;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
}


.cell.highlight {
  background-color: yellow;
}

.note.selector {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
}

.note.selector .highlight,
.note.selector label:hover,
.note.selector input:checked,
.note.selector input:active {
  background-color: yellow;
}

.note.selector label {
  position: relative;
  border: thin solid red;
  margin: 0.2rem;
  padding: 1rem;
}